body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.board-row {
    display: table;
}

.square {
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    float: left;
    margin-right: -1px;
    margin-bottom: -1px;
}

.square.snake-body {
    background-color: black;
}

.square.snake-candy {
    background-color: red;
}